body {
    background-color:beige;
}

.input-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    margin: auto;
    width: 50%;
}

table {
    width: 100%;
}

th{
    color: chocolate;
}

td{
    color:chocolate;
}

table, th, td {
    border: 1px solid;
}